@import '../../assets/styles/var';

hr {
  width: 50%;
}

.about___container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.about___title {
  color: #4169e1;
  margin: 0;
}

.about___paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(122, 122, 122);
}

.paragraph {
  text-align: center;
  font-size: 1em;
  width: 90%;
}

.paragraph__icons {
  display: flex;
  justify-content: center;
  margin: 0;
  color: #000;

  i {
    font-size: 2em;
    margin: 0.2em;
    transition: 0.5s color;
  }

  .github:hover {
    color: #1da1f2;
  }

  .twitter:hover {
    color: #1da1f2;
  }
}

/******************** CARD CONTAINER *******************/

.cards___container {
  display: flex;
  padding-top: 2.5em;
  justify-content: space-evenly;
  width: 100%;
}

@media screen and (max-width: 680px) {
  .cards___container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 0.5em;
    width: 90%;
  }
}
