$formBorder: 50px;
$placeholderColor: #d6d6d6;

.section__signIn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0187db;
  height: 100%;
  width: 100%;

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2em;
    height: 30%;
  }

  div p,
  h3 {
    margin: 0;
  }

  div p {
    color: $placeholderColor;
    width: 100%;
  }

  div h3 {
    font-size: 2em;
    text-align: center;
    color: white;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-left-radius: $formBorder;
    border-top-right-radius: $formBorder;
    min-height: 400px;
    width: 100vw;

    label {
      color: $placeholderColor;
      text-align: left;
      font-weight: 700;
      width: 90%;
    }

    input {
      border: none;
      background-color: transparent;
      border-bottom: 2px solid #d6d6d6;
      margin-bottom: 3em;
      height: 3em;
      width: 90%;
    }

    ::placeholder {
      color: $placeholderColor;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0187db;
      border: none;
      color: white;
      border-radius: 1.5em;
      height: 3em;
      width: 90%;
    }
  }
}

@media screen and (min-width: 1000px) {
  .section__signIn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0187db;
    height: 100%;
    width: 100%;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 2em;
      width: 50%;
      height: 100%;
    }

    div p,
    h3 {
      text-align: center;
    }

    div p {
      color: $placeholderColor;
      font-size: 1.5em;
      width: 100%;
    }

    div h3 {
      font-size: 3em;
      color: white;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      height: 100%;
      width: 50%;

      label {
        color: $placeholderColor;
        text-align: left;
        font-weight: 700;
        width: 90%;
      }

      input {
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #d6d6d6;
        margin-bottom: 3em;
        height: 3em;
        width: 90%;
      }

      ::placeholder {
        color: $placeholderColor;
      }

      a {
        background-color: #0187db;
        border: none;
        color: white;
        border-radius: 1.5em;
        height: 3em;
        width: 90%;
      }
    }
  }
}

/*
Colores:

// blancos 
#F8F9FB

// negro
#3C383E

// azúl
#0187DB

//Morados
#5C28CF
#5738D1
#4F50FF

// Naranjas
#FF7E5C
#FF9558
*/
